<%= link_to 'back to index', root_path %>
<h2><%= @post.title %></h2>
<p><%= @post.content %></p>

<div class="comments">
  <%= render partial: 'comments/comment', collection: @post.comments %>
</div>
<%= render 'comments/form' %>